.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    //padding: 100px;
    justify-content: center;
  }
  
  .modal h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
    font-family: "Raleway", "serif";
    margin-top: 20px;
  }
  
  .modal input {
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    outline: none;
    border: none;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-family: "Raleway", "serif";
    margin-bottom: 35px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  button {
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancel {
    background: #007bff;
    color: white;
  }
  
  .confirm {
    background: white;
    color: black;
    border: 1px solid #ccc;
  }
  